{
  "extends": ["next", "next/core-web-vitals", "airbnb"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "semi": 0,
    "no-use-before-define": "off",
    "import/extensions": "off"
  }
}
